.login {
  width: 40%;
}

.grid-center {
  display: grid;
  place-items: center;
}

img {
  width: 20px;
  margin-right: 10px;
}

.google-btn {
  background-color: #4285f4;
}

.apple-btn {
  background-color: #000;
}
